<% include ../partials/header %>
<div>
    <a class="btn btn-primary btn-large" href="/posts/new">Add New Post</a>
</div>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% posts.forEach(function(post){ %>
        <div class="col-md-3 col-sm-6">
            <h2><%= post.author.firstname %> <%= post.author.lastname %></h2>
            <h4><%= post.title %></h4>
            <p><%= post.body %></p>
            <p>
                <a href="/posts/<%= post._id %>" class="btn btn-primary">More Info</a>
            </p>
        </div>
    <% }); %>
</div>
<% include ../partials/footer %>