<% include ../partials/header %>
<div>
    <a class="btn btn-primary btn-large" href="/posts">Back</a>
</div>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <div class="col-md-3 col-sm-6">
        <h2><%= post.author.firstname %> <%= post.author.lastname %></h2>
        <h4><%= post.title %></h4>
        <h6><%= post.time %></h6>
        <p><%= post.body %></p>
    </div>
    <%if(currentUser && post.author.id.equals(currentUser._id)) {%>
        <a class="btn btn-primary btn-large" href="/posts/<%= post._id%>/edit">Edit</a>
        <form action="/posts/<%= post._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-large">Delete</button>
        </form>
    <% }; %>
    <% (post.comments).forEach(function(comment){ %>
        <p><%= comment.post.title%></p>
        <p><%= comment.author.firstname%> <%= comment.author.lastname%></p>
        <p><%= comment.body%></p>
        <%if(currentUser && comment.author.id.equals(currentUser._id)) {%>
            <form action="/posts/<%= post._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-large">Delete Comment</button>
            </form>
        <% }; %>
    <% }); %>
</div>

<div class="modal fade" id="addCommentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Comment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <form action="/posts/<%= post._id %>/comments" method="POST">
              <textarea style="width:100%" name="body"></textarea>
              <button class="btn btn-lg btn-primary btn-block">Submit!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#addCommentForm">Add Comment</a>
</div>


<% include ../partials/footer %>