<% include ../partials/header %>
<div>
    <a class="btn btn-primary btn-large" href="/internships">Back</a>
</div>
<div>
    <h2><%= internship.company %></h2>
    <h4><%= internship.author.firstname %> <%= internship.author.lastname %></h4>
    <p><%= internship.type %></p>
    <p><%= internship.position %></p>
    <p><%= internship.startdate %> - <%= internship.enddate %></p>
    <p><%= internship.review %></p>
    <p><%= internship.advice %></p>
    <p><%= internship.contact %></p>
    <%if(currentUser && internship.author.id.equals(currentUser._id)) {%>
        <a class="btn btn-primary btn-large" href="/internships/<%= internship._id%>/edit">Edit</a>
        <form action="/internships/<%= internship._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-large">Delete</button>
        </form>
    <% }; %>
</div>
<% include ../partials/footer %>